/* Scss Document */

%w_and_h{
	height: auto;/*100vh*/
	width: calc(100vw - 15px);
}

body{
	color:#fff;
}

header{
	background:#1E7B1D ;
	width: calc(100vw - 15px); 
	height: auto;
	background-image: url("https://html.craft-group.gq/beacon-two/img/head-bg.png");
}

#right_col{
	margin-top: 100px;
	padding-left: 20px;
	color: white;
	/*font-weight: 700;*/
	h1{
		font-size:36px;
		font-weight: 700;
		margin-bottom: 20px;
		/*white-space: nowrap;*/
	}
	h4{
		margin-bottom:20px;
	}
}

header .navbar .navbar-collapse .navbar-nav{ 
	
	.nav-item{
		/*padding-right: 20px;*/
		
			.nav-link {
				margin-top: 3vmax;	
				/*margin-right: 0.5vw;*/
				color:white;
				font-size: 18px;
				text-transform: uppercase;
				font-family: Lato, sans-serif;
				padding: 15px 30px;
			}
		
			.nav-link:hover{
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
				-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
				box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);

				color: green;
				background: white;
				border-radius: 60px;
			}
			
	}
}

#nav_link_active{
			color: green;
    		background: white;
    		border-radius: 60px;
			box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
}

.container .nav-pills .nav-link {
	border-radius: 50px;
}

main{
	@extend %w_and_h;
	/*position: relative;???*/
	.container{
		h1{
			/*text-align: center;*/
			margin: 30px 0;
		}
	}
}

.row .col-lg button{
	border: 2px solid #43cb83;
    background: transparent;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 700;
    color: #6b6b6b;
}

.container .row .col-lg .counter{
	position: relative;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
	.plus{
		cursor: pointer;
		padding: 0 5px;
		font-size: 17px;
		color: #282828;
		font-weight: 700;
	}
	.minus{
		cursor: pointer;
		padding: 0 5px;
		font-size: 17px;
		font-weight: 700;
		color: #282828;
	}
	input{
		border: none;
		text-align: center;
		width: 50px;
	}
	span{
	position: absolute;
    top: 0;
    right: -30px;
    font-size: 16px;
}
}

main .container .row .col-lg{
	margin: 0 15px;
	margin-bottom: 20px;
	padding: 0 2px;
	/*height: 80vh;*/
		h1{
			font-size:18px;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		img{
			width: 150px;
			height: 150px;
		}
		h3{
			font-style: bold;
		}
		p{
			font-size: 14px
		}
}

main .container .row .col-lg:hover{
	transform: scale(1.1);
	transition: 2s ease;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
}

feedback{
	@extend %w_and_h;
	background-image: url("../images/bg-beacons2.png");
	background-size: cover;
	display: block;
	padding-bottom: 1px;
	.container{
		h1{
			margin: 0 0 30px;
			padding-top: 30px;
		}
		.row{
			.col-md-2{
				margin: 0px 30px;
				font-weight: 900;
    			font-size: 22px;
				text-transform: uppercase;
    			margin-top: 0;
				margin-bottom: 30px;
				
				
			}
			
			.col-md-2:first-child{
				/*Active*/
				background: #fff;
    			border-radius: 30px;
    			-webkit-box-shadow: 0 15px 30px #709f90;
    			box-shadow: 0 15px 30px #709f90;
			}
		}
		p{
			font-size: 24px;
			font-weight: 700;

		}
		
	}
}

.input-form {
	padding-left: 38px;
    font-size: 24px;
    color: black;
    font-weight: 700;
	width: 50%;
    display: block;
    border-radius: 30px;
    height: 50px;
    border: 2px solid #fff;
    margin: 25px auto;
    background: url("../images/form-bg.png") no-repeat bottom;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	outline:none;
}

input[type="submit"]{
	display: block;
    border-radius: 30px;
    width: 200px;
    height: 55px;
    background: #fff;
    color: #43cb83;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px auto;
    outline: none;
    border: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
	line-height: 50px;
	cursor: pointer;
}

input[type="submit"]:hover{
	transform: scale(1.1);
	transition: 2s ease;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.55);
	cursor: pointer;
}

footer{
	height: auto;/*50vh*/
	width: calc(100vw - 15px);
	background-image: url("../images/footer-bg.jpg");
	position: relative; 
		.container{
			.row{
				.col{
						font-size: 24px;
						color:#fff;
						z-index: 5;
				}
			}
		}
}

#footer_col1{
	margin-top: 30px;
}
#footer_col2{
	margin-bottom: 30px;
}

.fa{
	display: inline-block;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
    margin: 0 20px;
    line-height: 56px;
    color: #fff;
    font-size: 26px;
	padding: 15px;
	/*fill:white;*/
	/*content: "\f0e1";*/
	
}

.fa:hover{
	background: #fff;
	color: #43cb83;
	cursor: pointer;
}

.block_item p {
	height: 150px;
}



@media (max-width: 1300px){
	header, main, footer, feedback{
		width:100%;
		#right_col{
		margin-top:50px;
		}
	}
}

@media (max-width: 1100px){
	#right_col{
		margin-top:20px;
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	
	/*header, main, feedback, footer{
		width: 100%;
	}*/
	
	#right_col{
		margin-top:0;
	}
	
	header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
		text-align:center;
	}
	
	main, header{
		height: auto;
	}
	
	feedback{
		height: auto;
	}
	
	footer{
		height: auto;
	}
	
	.input-form{
		width: 100%;
	}
	
	form{
		padding-bottom: 1px;
	}
}
